@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Nunito", sans-serif;
    letter-spacing: 0px;
    scroll-behavior: smooth;
    /* color: #ffffff; */
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1f1f1f;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #5f5f5f;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffffff90;
  }

  .MuiPickersDay-root{
    border-radius: 4px !important;
    background-color: transparent !important;
  }

  .Mui-selected{
    background-color: #5F5F5F !important;
  }

  .MuiPickersDay-root:hover:not(.Mui-selected){
    background-color: #5F5F5F20 !important;
  }

  .css-23p0if-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected){
    border: none !important;
  }

  .loading{
    background-image: url('/src/assets/bg-gradient.png')
  }